//colors
$black: #000000;
$white: #ffffff ;

//fonts
$small: 16px;
$medium: 20px;
$big:48px;

$large-padding: 10px 15px;
$big-padding: 20px 30px;

$default-margin-top: 30px;
$big-margin-top: 90px;

$border-radius: 4px;